<!-- home.html -->

    	<div class="small-12 columns">

        <div class="row martop-3">
            <!-- block averigua -->
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <div class="bloque resultado">

                            <ul class="large-block-grid-4 small-block-grid-1">
                                <li>
                                <h2>Efectivo:</h2>
                       
                                </li>
                                <li>
                                <h2>Cuotas:</h2>
                     
                                </li>
                                <li>
                                <h2>Cuota de:</h2>
                             
                                </li>
                                <li>
                                <h2>Años:</h2>

                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 text-center columns">
                        <a href="#" class="button blue">Editar</a>
                    </div>
                </div>
            </div>
            <!-- endblock averigua -->
        </div>
        <div class="row martop-1 refinar">
            <div class="large-12 columns">
                <div class="row">

                    <div class="large-12 columns">
                        <h5>Tuviste <strong> resultados</strong> para tu busqueda, refínala con los filtros avanzados para llegar a tu auto más facil.</h5>
                    </div>

                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <h4>Refinar <strong>busqueda</strong></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="large-8 large-centered small-8 small-centered columns">
                        <form>
                        <ul class="large-block-grid-3 small-block-grid-1">
                            <li>
                            <div class="row">
                                <div class="large-12 columns">
                                    <label><h6>Marcas:</h6></label>
                                </div>
           
                           </div>
                            <div class="row">
                                <div class="large-12 columns">
                                    <label><h6>Tipo de auto:</h6></label>
                                </div>
                                <!--div data-ng-repeat="segment in segment_type_list"-->

                            </div>
                            </li>
                            <li>
                            <div class="row">
                                <div class="large-12 columns">
                                    <label><h6>Combustible:</h6></label>
                                </div>

                                

                            </div>
                            <div class="row">
                                <div class="large-12 columns">
                                    <label><h6>Traccion:</h6></label>
                                </div>
                                
                            </div>
                            </li>
                            <li>
                            <div class="row">
                                <div class="large-12 columns">
                                    <label><h6>Puertas</h6></label>
                                </div>
                                
                            </div>
                            </li>
                        </ul>
                    </form>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 end large-centered columns">
                        <a type="submit" href="#/about" class="button blue">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
